<section id="about-section">
	<h2>About Real Estate Investor Disrupted</h2>
	<p>TODO about us</p>
</section><!-- end #about-section -->

<section id="contact-section">
	<h2>Contact REI Disrupted</h2>
	<p>Email us with comments, suggestions, inquiries, collaborative requests, or requests to feature products at <br> <b>TODO</b></p>
</section><!-- end #contact-section -->

<section id="FAQ-section">
	<h2>Frequently Asked Questions</h2>
	<p class="question">I built an innovative product. How do I get mentioned on this site?</p>
	<p class="answer">Email us at TODO _ with the Subject: "Request to Add Disruptive Resource"</p>

	<p class="question"></p>
	<p class="answer"></p>

	<p class="question"></p>
	<p class="answer"></p>

	<p class="question"></p>
	<p class="answer"></p>
</section><!-- end #FAQ-section -->


<section>
	<button><%= link_to "Back to Disruptions", root_path, class: "btn btn-success btn-sm" %></button>
</section>