nav header brand = Real Estate Investor Distrupted

<%= link_to "Disruptions", root_path %>
<%= link_to "REI News", news_path %>
<%= link_to "About", about_path %>


on the right side: 
<button class="btn btn-success btn-sm">Get Listed Here</button>
<button class="btn btn-success btn-sm">Write for us</button>